<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.bootstrap5.css">

</head>
<body onload="getData()">
    <div class="container mt-5 mb-5">
        <table id="itemTable" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th>Store Id</th>
            <th>SKU</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>date</th>
        </tr>
        </thead>
            <tbody id="tbody">

            </tbody>
    </div>
<script src="./JS/datatable.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.1/js/dataTables.bootstrap5.js"></script>

</body>
</html>